@use "../base/mixins" as *;
@use "../base/variables" as *;

.about {
    position: relative;
    margin-bottom: 12rem;

    @media (max-width: 37.5rem) { 
        margin-bottom: 9rem;
    }


    &:before {
        content: "";
        position: absolute;
        top: -18rem; 
        left: 0;
        width: 100%;
        height: 153%;
        background-color: $background-color-light;
        z-index: -1;


        @media (max-width: 37.5rem) { 
            top: -10rem;
            height: 114%;
        }
    }

    &__title {
        max-width: 50rem; 
        text-align: center;
        font-size: 3rem;
        margin: 0 auto;
        letter-spacing: 0.1875rem; 
        transform: scaleX(1.2);
        margin-bottom: 2.8125rem;

        @media (max-width: 37.5rem) { 
            font-size: 30px;
            transform: scaleX(1.06);
        }
    }

    &__text {
        max-width: 43.75rem; 
        margin: 0 auto;
        font-size: 1rem;
        text-align: center;
        line-height: 1.5rem;
    }

    &__list {
        @include flex(0, space-between, row);
        padding-top: 5rem;
        gap: 0.625rem;
        max-width: 67.8125rem; 

        @media (max-width: 76rem) { 
            gap: 1.25rem;
        }

        @media (max-width: 37.5rem) { 
            padding-top: 3.125rem;
            @include flex(center, null, column);
            gap: 3.8rem;
        }   
    }

    &__service {
        max-width: 21.875rem; 

        &-img {
            width: 21.875rem; 
            height: 13.125rem; 
            border-radius: 0.5625rem;
        }

        &-title {
            text-align: center;
            padding: 0.9375rem;
            font-size: 1.25rem;
            max-width: 12.5rem; 
            margin: 0 auto;
            transform: scaleX(1.2);
        }

        &-text {
            text-align: center;
            line-height: 1.5rem;
        }
    }
}



