@use "../base/mixins" as *;
@use "../base/variables" as *;

$font-main: "IBM Plex Mono", serif;

.header {
    margin: 0 0.9375rem; 
    position: relative;
    z-index: 10;
    background: transparent;
    color: $text-color-light;

    &__container {
        width: 100%;

        &.desktop {
            @include flex(center, space-between);
        }

        &.mobile {
            display: none;
        }


        @media (max-width: 37.5rem) {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: block;
                & .header__wrapper {
                    position: relative;
                    top: 420px;
                    @include flex(center, space-between);
                }
            }
        }
    }

    &-item {

        & a {
            display: block;
        }

        @media (hover: hover) {
            &:hover {
                background-color: $background-color-light;
                border-radius: 2px;
                color: $text-color-dark;
            }
        }
    }

    &__contact {
        font-size: 0.875rem; 
        line-height: 1.05rem;

        @media (max-width: 37.5rem) { 

        }
    }

    &__logo {
        text-align: center;
        font-family: $font-main;
        margin-top: 1rem;
    }

}
