@use "../base/mixins" as *;
@use "../base/variables" as *;

.products {
    max-width: 100%; 
    margin: 0 auto;

    @media (max-width: 76rem) { 
    }


    &__wrapper {
        margin-top: 4.375rem; 
        margin-bottom: 6.25rem;  

        @media (max-width: 37.5rem) { 
            margin-top: 3.125rem; 
        }
    }

    &__list {
        @include flex(center, space-between, row, wrap);
        row-gap: 2.5rem; 
        column-gap: 1.25rem;
    }

    &__item {
        flex: 1 1 calc(33.3% - 1.875rem); 

        @media (max-width: 37.5rem) { 
            flex: 1 1 calc(50% - 0.9375rem);
        }

        &-img {
            width: 21.875rem; 
            height: 21.875rem;
            object-fit: cover;
            border-radius: 0.3125rem;

            @media (max-width: 37.5rem) { 
                width: 15.625rem; 
                height: 15.625rem; 
            }
        }

        &-wrapper {
            @include flex(0, 0);
        }

        &-name {
            font-size: 1.25rem;
            font-weight: lighter;
        }

        &-text {
            font-size: 0.75rem; 
        }
    }
}

.section-title {
    text-align: center;
    font-size: 3.125rem; 
    margin-bottom: 2.5rem;

    @media (max-width: 37.5rem) {
        font-size: 1.875rem; 
    }
}

.section-text {
    max-width: 43.75rem; 
    text-align: center;
    margin: 0 auto;
    line-height: 1.5rem; 

    @media (max-width: 37.5rem) { 
        font-size: 1rem; 
    }
}

.video {
    @include flex(center);
    margin-bottom: 7rem;

    @media (max-width: 37.5rem) { 
        margin-bottom: 5rem;
    }
    

    &__container {
        position: relative;
        height: 21.875rem; 
        width: 71rem;

        @media (max-width: 76rem) { 
            margin: 0 40px;
            max-width: 75rem; 
        }

        @media (max-width: 37.5rem) { 
            margin: 0;
            height: 22rem;
            width: 100%;
        }


        & iframe {
            width: 100%;
            height: 100%;
            border-radius: 0.625rem; 
            display: block; 
        }
    }
}
