@use "../base/mixins" as *;
.products {
    padding-top: 80px;
    max-width: 1125px;
    margin: 0 auto;

    @media (max-width: 1205px) {
        max-width: 1200px;
    }

    @media (max-width: 600px) {
        padding-top: 70px;
    }

    &__wrapper {
        padding-top: 70px;
        padding-bottom: 100px;

        @media (max-width: 600px) {
            padding-top: 50px;
        }
    }

    &__list {
        @include flex(center, space-between, row , wrap);
        row-gap: 40px;
        column-gap: 20px;
    }

    &__item {
        flex: 1 1 calc(33.3% - 30px);

        @media (max-width: 600px) {
            flex: 1 1 calc(50% - 15px);
        }

        &-img {
            width: 350px;
            height: 350px;
            object-fit: cover;
            border-radius: 5px;

            @media (max-width: 600px) {
                width: 250px;
                height: 250px;
            }
        }

        &-wrapper {
            @include flex(0, 0);
        }

        &-name {
            font-size: 20px;
            font-weight: lighter;
        }

        &-text {
            font-size: 12px;
        }
    }

}

.section-title {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;

    @media (max-width: 600px) {
        font-size: 30px;
    }
}

.section-text {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;

    @media (max-width: 600px) {
        font-size: 16px;
    }

}

.video {
    position: relative;
    background: linear-gradient(to bottom, #ffffff 50%, #dadada 50%);
    padding: 0 80px;
    @include flex(center);

    @media (max-width: 1205px) {
        padding: 0;
    }

    &__container {
        max-width: 1125px;

        @media (max-width: 1205px) {
        max-width: 1200px;
        }
        

    }

    &-item {
        width: 1130px;

        @media (max-width: 600px) {
            width: 540px;
            height: 350px;
            object-fit: cover;
            border-radius: 8px;
        }
        
    }
}

